results/*
!results/.gitkeep

**/Databases
**/ncbi_dumpfiles
**/XTandem
**/taxadb
resources/taxidMapping/accessions_hashed.npy
resources/taxidMapping/accessions.txt
resources/taxidMapping/protacc2taxids_virus.txt
resources/taxidMapping/taxids.txt




.snakemake/*

workflow/scripts/belief_propagation_old.py
workflow/scripts/CreatePepGMGraph_customJson.py
workflow/scripts/BarPlotResults_customTaxa.py
workflow/scripts/PrettyPlots.py
workflow/scripts/Peptidome_comparison.py
workflow/scripts/belief_propagation_log.py
workflow/scripts/__pycache__/*
workflow/Sars_strains.snakefile
.snakemake/
.vscode/
./config/my_config.yaml
.idea/*


/resources/toyExample/spectra_PXD014913_cowpox_minimal_example.mgf
/bin/
