results/*
!results/.gitkeep

resources/*
!resources/.gitkeep

.snakemake/*

workflow/scripts/belief_propagation_old.py
workflow/scripts/CreatePepGMGraph_customJson.py
workflow/scripts/BarPlotResults_customTaxa.py
workflow/scripts/belief_propagation_log.py

workflow/Sars_strains.snakefile